.box-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/images/bg.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.box-layout__box {
  width: 25rem;
  text-align: center;
  padding: $l-size $m-size;
  border-radius: 3px;
  background: fade_out(whitesmoke, .2);
}
.box-layout__title{
  margin:0 0 $m-size 0;
  line-height:1;
}