.button {
  display: inline-block;
  background-color: $blue;
  color: white;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  border: none;
  text-decoration: none;
  line-height: 1;
}

.button--link{
  background: none;
}

.button--secondary{
  background-color: slategrey;
}