.list-body{
  margin-bottom:$m-size;
  @media (min-width: $desktop-min) {
    margin-bottom:$l-size;
  }
}

.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;

}

.list-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $dark-grey;
  padding: $s-size;
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  transition: background .3s ease;
  &:hover {
    background: $off-white;
  }

  @media (min-width: $desktop-min) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $m-size;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-min) {
    margin: 0;
    padding-left: $s-size;
  }
}
.list-item--message{
  justify-content:center;
  align-items:center;
  color: $grey;
  padding: $m-size;
  &:hover{
    background: none;
  }
}