.page-header {
  background: $off-white;
  margin-bottom: $l-size;
  padding: $l-size 0;
}
page-header__action{
  margin:$m-size;
}
.page-header__title {
  margin: 0;
  font-weight: 300;
  span{
    font-weight:bold;
    color: $dark-blue;
  }
}