* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem=10px
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sens-serif;
  font-size: $m-size;
  line-height: 1.6;
  background: white;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
